* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(36, 36, 36);
    min-width: 300px;
}

.line {
    height: 40px;
    border-right: 2px solid rgba(255, 255, 255, 75);
    color: rgba(255, 255, 255, 75);
    font-size: min(45px, 5vw);
    font-family: 'Special Elite', cursive;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}

.typing-animation {
    animation: blinkCursor 500ms steps(24) infinite normal, typing 4s steps(24) 1s normal both;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 15em;
    }
}

@keyframes blinkCursor{
    from {
        border-right-color: rgba(255, 255, 255, 75);
    }
    to {
        border-right-color: transparent;
    }
}

@media (max-width: 768px) {
    .line {
        height: 30px;
    }
}

@media (max-width: 492px) {
    .line {
        height: 18px;
    }
}
